<%= form_for(@course_module) do |f| %>

	<%= render "shared/error_messages", :object => @course_module %>

	<%= render "form_fields", :f => f %>
	
	<div class="actions">
		<%= f.submit %>
	</div>
<% end %>
