<%= render "show", :course_package => @course_package %>

<% unless @course_modules.blank? %>
	<% @course_modules.each do |course_module| %>
		<h4>Course Module</h4>
		<%= render "course_modules/show", :course_module => course_module %>
	<% end %>
<% end %>

<%= link_to 'Edit', edit_course_package_path(@course_package) %> |
<%= link_to 'Back', course_packages_path %>
